# Lazarus backups and unit output folders.
# These can be changed by user in Lazarus/project options.
backup/
*.bak
lib/
Results/
*.ini
bin/

# Unix executables
./VectorClassesUnitTest* 
VectorClassesUnitTest/VectorClassesUnitTest*
